*{  
  box-sizing: border-box;
  font-family: 'Google Sans', sans-serif;
  margin:0;
  padding:0;
}

label, select, input[type="text"]{
  font-family: 'Google Sans', sans-serif !important;
}


.container{
	min-height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;
	background: #white;
}

#content{
	width:100%;
	flex-grow:1;
	padding: 0 200px;
	display:flex;
	flex-direction:column;
}

#dashboard{
	background:#f8f8f8;
	width:100%;
	flex-grow:1;
	display:flex;
	flex-wrap: wrap;
	border: 1px solid #ffffff;
	padding:10px;
}

#dashboard-left{
	padding: 5px;
	width:35%;
}

#dashboard-right{
	border: 1px solid transparent;
	padding: 5px;
	width:65%;
}

/*PATIENT SEARCH COLUMN */
#patientSearch{
	display:flex;
	justtify-content:space-between;
	flex-wrap:wrap;
}


/*SEARCH FIELD*/

.autocomplete-panel td{
	border: 1px solid #ffffff !important;
}

.ui-state-highlight{
	background:#f0f3f8 !important;
	text-shadow:none !important;
	color: black !important;
}

.ui-widget-content{
	border: 1px solid #ffffff !important;
}


.ui-inputfield{
	border: 1px solid gray !important;
	margin: auto 10px !important;
	box-shadow:none;
	font-size:16px;
	height: 35px !important;
	padding: auto 20px;
}

.ui-inputfield:focus{
	border: 1px solid #0097a7ff !important;
	box-shadow:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  color: gray;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  color: gray;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  color: gray;
}


/* BUTTONS */
#patientSearch .ui-button,
#patientDetails .ui-button{
	background: #5dbac4;
	box-shadow: none;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:white !important;
	text-decoration:none;
	min-width:75px !important;
	text-shadow:none;
}

#patientSearch .ui-button:hover,
#patientDetails .ui-button:hover{
	background:#0097a7ff;
}


#patientSearchField{
	margin-right:10px;
}


/*PATIENT LIST*/

.patientCard{
	padding:10px;
	margin:10px;
	border: 1px solid #ffffff;
	border-radius:5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	background: #ffffff;
}

.current .patientCard{
	border: 1px solid rgba(33,182,168,0.5);
	box-shadow: 0 2px 4px 0 rgba(33,182,168,0.5);	
}

.patientCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.patientAddress{
	color:#4f4f4f;
	padding:5px;
}

.patientName{
	color:#4f4f4f;
	padding:5px;
}

.current .patientName{
	font-weight:bold;
}

.current .patientAddress{
	color:#5dbac4;
}

a:link {
    text-decoration: none !important;
}

/*PATIENT DETAILS */

#prescriptionDetailsSection .ui-panelgrid-cell{
	border: 1px solid #ffffff;
}

#prescriptionDetailsSection{
	border: 1px solid gray;
	margin:20px;
	padding:20px;
}
