*{  
  box-sizing: border-box;
  font-family: 'Google Sans', sans-serif;
  margin:0;
  padding:0;
}

label, select, input[type="text"]{
  font-family: 'Google Sans', sans-serif !important;
}


.container{
	min-height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;
	background: #white;
}

#content{
	width:100%;
	flex-grow:1;
	padding: 0 200px;
	display:flex;
	flex-direction:column;
}

#dashboard{
	background:#f8f8f8;
	width:100%;
	flex-grow:1;
	display:flex;
	flex-wrap: wrap;
	border: 1px solid #ffffff;
	padding:10px;
}

#dashboard-left{
	padding: 5px;
	width:25%;
}

#dashboard-right{
	border: 1px solid transparent;
	padding: 5px;
	width:75%;
}

#prescriptionDetailsSection .ui-panelgrid-cell{
	border: 1px solid #ffffff;
}

#prescriptionDetailsSection{
	border: 1px solid gray;
	margin:20px;
	padding:20px;
}
