*{  
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding:0;
}

.container{
	min-height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;
}

#content{
	width:100%;
	flex-grow:1;
	padding: 0 200px;
	display:flex;
	flex-direction:column;
}

#dashboard{
	width:100%;
	flex-grow:1;
	display:flex;
	flex-wrap: wrap;
	border: 1px solid #d3d3d3;
	padding:10px;
}

/* PRESCRIPTION QUEUE */

h3{
	text-align:center;
}

#dashboard-left{
	padding: 5px;
	width:25%;
	background: #f8f8f8;
}


.pharmacistQueueItem{
	padding:10px;
	margin:10px;
	border: 1px solid #ffffff;
	border-radius:5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	background: #ffffff;
}


.pharmacistQueueItem:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.prescriptionPatient{
	color:#4f4f4f;
	padding:5px;
}

.prescriptionID{
	color:#4f4f4f;
	padding:5px;
	border-bottom:1px solid #d3d3d3;
}

a:link {
    text-decoration: none !important;
}



/* PRESCRIPTION DETAILS */
#dashboard-right{
	border: 1px solid #ffffff;
	padding: 5px;
	width:75%;
}


#prescriptionDetails{
	padding:10px;
	margin:10px;
	border: 1px solid #d3d3d3;
	border-radius:10px;
	background: #ffffff;
}

.prescriptionDetailHeading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d3d3d3;
}

.prescriptionDetailHeadingLeft{
	width:13%;
	padding:10px;
}

.prescriptionDetailHeadingRight{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: flex-end;
	padding:10px;
}


#prescriptionDetails tr{
	border: 1px solid #ffffff;
}

#prescriptionDetails td{
	border: 1px solid #ffffff;
}

.prescriptionItemsTable td:nth-child(2){
	    width: 60px;	
}

.prescriptionItemsTable th:nth-child(2){
	    width: 60px;	
}
