*{  
  box-sizing: border-box;
  font-family: 'Google Sans', sans-serif;
  margin:0;
  padding:0;
  font-size:16px;
}

label, select, input[type="text"]{
  font-family: 'Google Sans', sans-serif !important;
}


.prescriptionDetailHeading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d3d3d3;
}

.prescriptionDetailHeadingLeft{
	width:13%;
	padding:10px;
}

.prescriptionDetailHeadingRight{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: flex-end;
	padding:10px;
	font-size:18px;
	color: #4f4f4f;
}

#prescriptionCompany{
	color:#d0d0d0;
	font-size:20px;
}



select{
	padding:5px;
}

select:focus{
	border: 1px solid #0097a7ff;
}

			
.ui-widget-content.ui-datalist-content{
	border: 1px solid #ffffff;
	padding: 5px;
}
			
.ui-datalist-data{
	margin-block-start: 0;
   	margin-block-end: 0;
   	width:100%;
}		

#prescriptionForm{
	text-shadow :none !important;
	color:white;
	padding: 15px !important;
	font-weight: normal;
}
			
#prescriptionForm .ui-button{
	background: #5dbac4;
	box-shadow: none;
	border:1px solid #5dbac4;
	display:inline-block;
	cursor:pointer;
	color:white;
	text-decoration:none;
	text-shadow:none;
}

#prescriptionForm .ui-button:hover{
	background:#0097a7ff;
}

#prescriptionForm .ui-button:active{
	background:black;
	border:1px solid #ffffff;
}


#prescriptionForm .ui-inputfield	{
	border: 1px solid gray;
	box-shadow:none;
}

#prescriptionForm .ui-inputfield:focus	{
	border: 1px solid #0d98ba;
}


#prescriptionForm .ui-widget-header,
#prescriptionForm th
,
tr[id*='medicineRow']{
	background: #f0f3f8;
	border: 1px solid #f0f3f8;
	box-shadow:none;
	text-shadow:none;
}

#prescriptionForm td{
	border: 1px solid #ffffff;
}

tr[id*='medicineHeading'],
tr[id*='itemsHeading']{
	background-image: linear-gradient(#70c7d0, #70c7d0); /* blue green*/
	color:white;
	text-align:center;
}

tr[id*='savebuttonContainer']{
	text-align:center;
}

